.container{
    padding-right: 0;
    padding-left: 0;

    &-fluid{
        padding-right: 0;
        padding-left: 0;
    }
}

.row, .row > * {
    padding-left:0;
    padding-right: 0;
    margin-left:0;
    margin-right: 0;
}

html {
      scroll-padding-top: 50px;
  }

  header{
    position: sticky;
    top:0;
    left:0;
    background: $sixth-color;
    z-index:3100;
}

.middle-bar{
    position: sticky;
}

a{
    cursor: pointer;
}