.horizontalMenu{
    display: flex;
    align-items:baseline;
    z-index:2999;

    &__product-btn{
        color:$fifth-color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $menuWidth;
        border:2px solid $primary-color;
        text-align:center;
    }

    &__item{
        padding: 10px 20px;

        &:hover{
            .veritcalMenu{
                display: block;
            }
        }

        &-main{
            height:30px;
            line-height: 30px;
            width:100%;

            &:hover{
                .veritcalMenu-main{
                    display: block;
                    margin-top:1px;
                }
            }
        }

    }

    &__link{
        font-weight:600;
        font-size:18px;
        color:$fifth-color;
        display: block;

        &:hover{
            color:$primary-color;
        }
    }
}

.veritcalMenu{
    font-family: $main-font;
    position: relative;
    background: $sixth-color;

    &-main{
        font-family: $main-font;
        position: relative;
        background: $sixth-color;
        display: none;
        padding-top:5px;
        margin-left:-2px;
    }

    &__item{
        width:$menuWidth;
        border-bottom:1px solid $secondary-color;
        border-right:1px solid $secondary-color;
        border-left:2px solid $secondary-color;

        &:first-child{
            border-top:1px solid $secondary-color;
        }

        .subMenu{
            display: none;
        }

        &:hover{
            border-left-color:$primary-color;

            .veritcalMenu__link{
                background: $secondary-color;
            }

            .subMenu{
                display: block;
            }
        }
    }

    &__link{
        color:$fifth-color;
        background: $sixth-color;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size:15px;
        padding:8px;
        height: 30px;
        line-height: 30px;
        align-items: center;

        &:hover{
            color:$fifth-color;
        }
    }
}

.subMenu{
    position: absolute;
    top:0;
    left:$menuWidth;
    width: 1020px;
    padding:20px;
    background: $sixth-color;
    z-index:2999;
    border:1px solid $secondary-color;
    height: 100%;

    &__item{
        cursor:pointer;
        border:1px solid transparent;
        padding:5px;

        &:hover{
                border-color:darken($secondary-color, 10%);
        }
    }

    &__wrapper{
        height:100%;
        position:relative;
    }

    &__image{
        width:100px;
        height:100px;
        display: block;
        margin-bottom:5px;
    }

    &__list{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        display: flex;
        flex-wrap: wrap;
    }



    &__link{
        display: inline-block;
        font-weight:700;
        margin-bottom:5px;
        margin:0 auto;
        color:$fifth-color;

        &:hover{
            color:$fifth-color;
            text-decoration: underline;
        }
    }

    &__ad{
        position:absolute;
        left:0;
        bottom:0;
        display: flex;


        &-img{
            display: block;
            width:100%;
        }

    }
}

.subMenu2{
    &__list{
        margin-top:10px;
    }

    &__item{
        margin-left:10px;
        margin-bottom:5px;
    }

    &__link{
        color:$fifth-color;
        &:hover{
            color:$fifth-color;
            text-decoration: underline;
        }
    }
}