.product{
    font-family: $main-font;
    margin-bottom:30px;
    margin-top:30px;

    &__title {
        font-size:40px;
        margin-bottom:10px;
        font-weight: 700;
    }

    &__index{
        font-size: 18px;
        font-weight: 700;
        margin-bottom:20px;

        &-value{
            font-weight: 400;
        }
    }

    &__main-image-wrapper{
        height:500px;
        width: 100%;
        cursor:pointer;
        border:1px solid $secondary-color;
    }

    &__big-photo{
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    &__main-image{
        width:100%;
    }

    &__slider-wrapper{
        max-width: 500px;
        display: flex;
        min-height:100px;
        align-items: center;
    }

    &__mini-images-wrapper {
        width:440px;
        display:flex;
        flex-wrap:nowrap;
        overflow-x: hidden;
    }

    &__thumbnail{
        object-fit:cover;
        max-width:180px;
        max-height:100px;
        cursor:pointer;
        opacity:0.5;
        margin:5px;
        border:1px solid $secondary-color;

        &:hover{
            opacity: 1;
        }

        &--active{
            opacity: 1;  
        }
    }

    &__arrow{
        border:1px solid $secondary-color;
        height:40px;
        width:40px;
        line-height: 40px;
        text-align: center;
        border-radius:50%;
        cursor:pointer;
        transition: all .25s;

        &:hover{
            border-color:$primary-color;
            color:$primary-color;
        }

        &--left{
            margin-right:10px;
        }

        &--right{
            margin-left:10px;
        }
    }

    &__saveBox{
        display: flex;
        justify-content: center;
        margin-top:30px;

        a{
            margin-right: 30px;
            transition: color .25s;
            text-decoration: underline;
            color:$third-color;

            span{
                margin-left:3px;
            }

            &:hover{
                color:$primary-color;
            }
        }
    }

}