.search{
    display: flex;
    flex-grow: 2;
    border:1px solid $secondary-color;
    // border-radius:20px;
    height:45px;

    &__input{
        flex-grow: 1;
        flex:1;
        outline: none;
        border:none;
        padding:5px 0px;
        margin:0px 20px;
        font-size:20px;
    }

    &__button{
        height:100%;
        width:100px;
        // border-top-right-radius:20px;
        // border-bottom-right-radius:20px;
        border:none;
        transition: .3s;
        cursor: pointer;

        &:hover{
            background-color:$primary-color;
            color:#fff;
        }
    }
}