$primary-color:#f29400;
$secondary-color:#eef1f3;
$third-color:#333;
$fourth-color:#e84b00;
$fifth-color:#000;
$sixth-color:#fff;

$main-font: 'Roboto Condensed', sans-serif;
// $main-font: 'Roboto', sans-serif;

$width-xxl: 1400px;

$fontSize:18px;